.texpadtmp
.DS_Store
resume.synctex.gz
resume.out
*.log
resume.aux
node_modules
resume.fdb_latexmk
resume.pdf
!samples/**/resume.pdf
out.tex
resume_data.jsonparse
resume.xdv
resume.synctex(busy)
processor/python-data.tex
python-data.tex
.vscode